Bug: Preview page endless loop when API is behind basic auth

I am trying to use a Wordpress site that is behind a basic auth password protection (on WP Engine). When I try to view a preview page the page gets stuck in an endless loop, with the `code` URL parameter refreshing on each page load. 

I temporarily turned off the password protection on the API and the preview page loads in fine. 

I'm assuming the authentication headers I'm using in the GQTY set up aren't being sent with these requests. Is there a way to set them anywhere? 

## Applicable Versions

- `@faustjs/core` version: 0.15.4
- `@faustjs/react` version:
- `@faustjs/next` version: 0.15.5
- WordPress version: 5.9.2

## Steps To Reproduce

1. Using the Next.js example point the endpoint to one which is behind a basic auth password protection.
2. Go to Wordpress admin, make sure settings are all correct. 
3. Try to load a preview post.

## The current behavior

Preview page ends in an endless loop. 

## The expected behavior

Preview page loads. 


Hi @humet, thanks for creating this issue!

We've created a ticket in the backlog to investigate this. We'll write back when we have more details.

@humet Thanks again for the report! I've been looking into this issue and wanted to share my findings.

You are correct that the authentication headers you have defined for GQty are not sent with the requests we use to authenticate for previews.

We use a REST request to obtain an access token from WordPress before we fetch preview data. It is currently not possible to supply custom headers for basic auth on this request. I looked into changing this behavior, but found a deeper issue.

In order to fetch preview data from a WordPress site that is behind basic auth, the request needs two things:

1. **A basic auth header** (i.e. `Authorization: Basic XXXX`) Allows you to access the `/graphql` endpoint.
2. **A bearer token auth header** (i.e. `Authorization: Bearer XXXX`) Allows WPGraphQL to determine which WP user you are requesting data as and therefore, what data you have access to.

Unfortunately, passing multiple authorization headers is not possible, as [it goes against spec](https://stackoverflow.com/questions/29282578/multiple-http-authorization-headers).

[RFC 7230 section 3.2.2.p.2](https://greenbytes.de/tech/webdav/rfc7230.html#rfc.section.3.2.2.p.2)
> A sender must not generate multiple header fields with the same field name in a message unless either the entire field value for that header field is defined as a comma-separated list [i.e., #(values)] or the header field is a well-known exception... .

The `Authorization` header field value is defined in [RFC 7235 section 4.2](https://greenbytes.de/tech/webdav/rfc7235.html#header.authorization) as follows:

> Authorization = credentials

Notably, this does not define the field as a comma-separated list (which is itself defined in [RFC 7235 1.2](https://greenbytes.de/tech/webdav/rfc7235.html#notation)).

For this reason, we are unable to support previews on WordPress sites behind basic auth. We would recommend disabling basic auth and relying on [the `Enable public route redirects` setting](https://faustjs.org/docs/faustwp/settings#enabling-public-route-redirects) in FaustWP if you need to prevent public access to the WordPress site.

--------------

On a different note, I do think we should do something to prevent the endless loop when the auth flow doesn't go according to plan. I'm going to close this out for now and investigate that separately.